
.qgg-table{
    border-collapse: collapse;
    width:100%;
    border:1px solid #c6c6c6 !important;
    margin-bottom:20px;
}
.qgg-table th{
    border-collapse: collapse;
    border-right:1px solid #c6c6c6 !important;
    border-bottom:1px solid #c6c6c6 !important;
    background-color:#ddeeff !important; 
    padding:5px 9px;
    font-size:14px;
    font-weight:normal;
    text-align:center;
}
.qgg-table td{
    border-collapse: collapse;
    border-right:1px solid #c6c6c6 !important;
    border-bottom:1px solid #c6c6c6 !important; 
    padding:5px 9px;
    font-size:12px;
    font-weight:normal;
    text-align:center;
    word-break: break-all;
}
.qgg-table tr:nth-child(odd){
    background-color:#fff !important; 
}
.qgg-table tr:nth-child(even){
    background-color: #f8f8f8 !important;
}
/* 上面这部分是一个原生的html表格的样式，颜色适配挺不错 */


/* head用来修饰表头 !important表示优先级最高，覆盖上册的样式，所以对于tableHead来说必须带上important,否则会不生效
bgcolor是背景色，color是文字色 text-align是文字在表格的什么位置
加了th.表示只对头生效
*/
th.tableHead {
    background-color: #0068EB !important;
    color: #ffffff !important;
    font-size:x-large !important;
    text-align:center !important;
}

.firstColumn {
    background-color: #0068EB;
    color: #ffffff;
    font-size:x-large !important;
    pointer-events: none; 
    /* 这一行可以阻止hover事件，鼠标划过表格时不会触发ant-table的默认变色效果，这个效果的接口没有暴露出来，
    直接改css覆盖会导致所有的表都被修改，所以用这个参数更好些*/
    text-align:center;
}
.normal-column {/*普通单元格，对整列生效*/
    font-size:large !important;
    pointer-events: none;
    text-align:center;
}
.ant-table-me {
    font-size:x-large !important;
}

.upper-color{
    color:"#ffffff" !important;
}


.meRed {
    background-color: #fff7e6 !important;
}
.meBlue {
    background-color: #e6f7ff !important;
}
.unitColor{
    background-color: #ffc069 !important;
}